@inherits Umbraco.Web.Mvc.UmbracoViewPage<PlainSite.ViewModels.BlogContainerViewModel>


@{
    Layout = "master.cshtml";
}

<section id="main" class="wrapper">
    <div class="inner align-center">
        <header class="major special">
            <h2>@Model.Content.Value("pageTitle")</h2>
        </header>


        <ul>
            @foreach (var blog in Model.BlogPosts)
            {

                Html.RenderPartial("blogsRender", blog);

            }
        </ul>



    </div>
</section>