@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.BlogContainer>
@using ContentModels = Umbraco.Web.PublishedModels;

@{
    Layout = "master.cshtml";
}

@{
    @*This is selecting the children in the model of type .blogitem where the is visible prop is set to true. You then order this by the published 
        date prop and order this by descending*@
    var blogposts = Model.Children().OfType<ContentModels.BlogItem>().Where(x => x.IsVisible()).OrderByDescending(x => x.PublishedDate);
}

<section id="main" class="wrapper">
    <div class="inner align-center">
        <header class="major special">
            <h2>@Model.Value("pageTitle")</h2>
        </header>

        <p class="">@Model.Value("description")</p>

        <ul>
            @foreach (var blog in blogposts)
            {
                
               Html.RenderPartial("blogsRender", blog);
                
            }
        </ul>



    </div>
</section>