@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.SimpleContentPage>
    @using ContentModels = Umbraco.Web.PublishedModels;
    @{
        Layout = "master.cshtml";
    }

<section id="main" class="wrapper">
    <div class="inner">
        <header class="major special">
            <h2>@Model.Value("pageTitle")</h2>
        </header>
        
        <span class="image">
            <a href="#" class=""><img src="/images/pic03.jpg" alt="" /></a>
        </span>
        <p>@Model.Value("bodyText")</p>
    </div>
</section>

<section id="main" class="wrapper">
    <div class="inner">
        @{Html.RenderPartial("ContactForm", new PlainSite.ViewModels.ContactFormViewModel()); }
    </div>
</section>
